/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2022年7月16日, 下午5:59:09
    Author     : Nathan
*/
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 5px;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 18px;    
}
.dropdown-content span{
    padding: 12px 16px;    
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-content, .dropdown:hover .dropdown-user {
    display: block;
}

.dropdown-user{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 5px;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 15px;
    left: auto !important;
    right: 0 !important;
    color: black;
}
.dropdown-user div{
    padding: 12px 16px;    
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-user a{
    padding: 12px 16px;    
    text-decoration: none;
    display: block;
    text-align: left;
}




