/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2022年7月17日, 下午2:07:52
    Author     : Nathan
*/
/*html{
    height: 100%
}*/
body{
    width: 100%;
    min-width: 800px;
    min-height: 100vh;
    margin: 0;
}
.top-nav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #fff;
    background-color: #000;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
}
.top-nav-adjust{
    color: #000;
    background-color: transparent;
    max-width: 1500px;
}
.top-nav .icon{
    color: #fff;
}
.nav-row{
    margin-left: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}
.nav-row .nav-item{
    text-decoration: none;
    margin: 30px;
}
.nav-item:hover{
    color: #cccccc;
}

.application-main{
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
}

.main-content{
    margin-left: 20px;
    /* fill the remaing width in a flex container*/
    flex-grow: 1;
}

.side-nav{
    width: 300px;
    /*height: 100%;*/    
    /*top: 80px;*/
    /*left: 0;*/
    font-size: 18px;
    background-color: #252424;
}
.side-nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-wrap: break-word;
}
.side-nav ul li{
    display: block;
}

.branch-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
}

.btn-toggle{
}

.branch-content{
    display: none;
    color: #fff;
    font-size: 16px;
    background-color: #1e1d1d;
}
.branch-content li{
    padding: 15px 50px;
}
.branch-content li a{
    color: inherit;
}
.branch-hover{

}
