/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2022年7月17日, 下午2:07:52
    Author     : Nathan
*/

.top-nav{
    padding-top: 30px;
    padding-bottom: 200px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #cccccc;
}
.top-nav img{
    width: 50px;
}
.nav-row{
    margin-left: 20px;
    display: flex
}
.nav-row .nav-item{
    text-decoration: none;
    color: #000;
    margin: 10px;
}