<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/Thymeleaf.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin | Management</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/css/dropdown.css}" href="../static/css/dropdown.css"/>
        <link rel="stylesheet" th:href="@{/css/layout.css}" href="../static/css/layout.css"/>     
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
        <style>
            .table thead tr th{
                vertical-align: middle;
                text-align: center;
            }
            .table tbody tr td{
                vertical-align: middle;
                text-align: center;
            }
            .btn-restore-user{
                width: 75px;
            }
            .btn-delete-user{
                width: 75px;
            }
        </style>
    </head>    
    <body>
        <div th:replace="fragments/navbar::top-navbar"></div>

        <div class="application-main">
            <div th:replace="fragments/navbar::side-navbar"></div>
            <div class="main-content">
                <h3>User Management</h3>
                <div class="dropdown-divider"></div>
                <div style="margin-top: 20px;">
                    <h4>Expired account</h4>
                    <table class="table table-bordered" th:if="${!expiredList.empty}">
                        <thead>
                            <tr>
                                <th>Photo</th>
                                <th>Name</th>   
                                <th>Contract</th>
                                <th>Role</th>
                                <th>Notification</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="exuser : ${expiredList}">
                                <td style="width: 100px;">
                                    <img th:if="${exuser.photo != 'profile.png'}" alt="photo" src="" th:src="@{/img/profile_icon.jpg}" style="width: 100px"/>
                                    <img th:if="${exuser.photo == 'profile.png'}" alt="photo" src="" th:src="@{${exuser.photoURI()}}" style="width: 100px"/>                                    
                                </td>
                                <td>                                   
                                    <span th:text="${exuser.username}">Username</span>
                                </td>
                                <td>
                                    <span th:text="${exuser.phone}">Contract</span>
                                </td>
                                <td>
                                    <span th:text="${exuser.getRole()}">Position</span>
                                </td>
                                <td th:with="msg=${exuser.messageMap.get('ACCOUNT_EXPIRED_MSG')}" style="text-align: left">
                                    
                                    <span>Message: [[${msg.message}]]</span><br/>
                                    <span>Addresser: [[${msg.addresser}]]</span><br/>
                                    <span th:text="'Expiration date: '+${#dates.format(msg.createdOn, 'yyyy-MM-dd HH:mm:ss')}"></span><br/>
                                    
                                </td>
                                <td>   
                                    <form th:action="@{/admin/revertExpired}" method="post">
                                        <input type="hidden" name="username" th:value="${exuser.username}"/>
                                        <button type="submit" class="btn btn-success btn-restore-user">Restore</button>
                                    </form>
                    
                                    <form th:action="@{/admin/deleteExpired}" method="post">
                                        <input type="hidden" name="username" th:value="${exuser.username}"/>
                                        <button type="button" class="btn btn-danger btn-delete-user">Delete</button>
                                    </form>
                                </td>
                            </tr>            
                        </tbody>
                    </table>

                </div>
                
                <div>
                    <a th:href="@{/admin/addTestUsers}" class="btn btn-primary">
                        Add Test user
                    </a>
                </div>
                
                <div th:if="${expiredList.empty}">no account expired</div>
                
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>    
        <script th:src="@{/js/navbar-toggle.js}"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script th:inline="javascript">            
            $('.btn-restore-user').each(function () {
                $(this).on('click', function (event) {                                       
                    event.preventDefault();
                    let form = $(this).parent('form');
                    swal({
                        title: "Restore account?",
                        text: " ",
                        icon: "info",
                        buttons: ["Cancel", "Restore"],
                        dangerMode: false
                    }).then((removeConfirm) => {
                        if (removeConfirm) {                            
                            swal({
                                title: "Success!",
                                text: "Account has been restored.",
                                icon: "success",
                                buttons: false,
                                timer: 3000
                            }).then(() => {
                                form.submit();
                            });
                        }
                    });
                });
            });
            
            $('.btn-delete-user').each(function () {
                $(this).on('click', function (event) {                                       
                    event.preventDefault();
                    let form = $(this).parent('form');
                    swal({
                        title: "Please confirm!",
                        text: "User account will be delete completely.",
                        icon: "warning",
                        buttons: ["Cancel", "Delete"], //[cancel, ok]
                        dangerMode: true
                    }).then((removeConfirm) => {
                        if (removeConfirm) {
                            swal({
                                title: "Deletion Success!",
                                text: "Account information has been removed from database",
                                icon: "success",
                                buttons: false,
                                timer: 3000
                            }).then(() => {
                                form.submit();
                            });
                        }
                    });
                });
            });
        </script>
    </body>
</html>
