<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/Thymeleaf.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Group | Workers</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/css/dropdown.css}" href="../static/css/dropdown.css"/>
        <link rel="stylesheet" th:href="@{/css/layout.css}" href="../static/css/layout.css"/>     
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
        <style>
            .table thead tr th{
                vertical-align: middle;
                text-align: center;
            }
            .table tbody tr td{
                vertical-align: middle;
                text-align: center;
            }
        </style>
    </head>

    <body>
        <div th:replace="fragments/navbar::top-navbar"></div>

        <div class="application-main">
            <div th:replace="fragments/navbar::side-navbar"></div>
            <div class="main-content">
                <h3>Workers Information</h3>
                <div class="dropdown-divider"></div>
                <div style="margin-top: 20px;">
                    <!-- Admin -->
                    <h4>Administrator</h4>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Photo</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Contract</th>
                                <th>Role</th>
                                <th>Introduction</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="a : ${admin}">
                                <td style="width: 100px;">
                                    <img th:if="${a.photo != 'profile.png'}" alt="photo" src="" th:src="@{/img/profile_icon.jpg}" style="width: 100px"/>
                                    <img th:if="${a.photo == 'profile.png'}" alt="photo" src="" th:src="@{${a.photoURI()}}" style="width: 100px"/>
                                </td>
                                <td>
                                    <span th:if="${a.nickname != null}">
                                        <span th:text="${a.nickname}"></span><br/>
                                        <span th:text="'('+${a.username}+')'"></span>
                                    </span>
                                    <span th:if="${a.nickname == null}" th:text="${a.username}">Username</span>
                                </td>
                                <td>
                                    <span th:text="${a.gender}">Gender</span>
                                </td>
                                <td>
                                    <span th:text="${a.phone}">Contract</span>
                                </td>
                                <td>
                                    <span th:text="${a.getRole()}">Position</span>
                                </td>
                                <td>
                                    <p th:text="${a.introduction}">Introduction</p>
                                </td>
                                <td th:with="username=${#authentication.getName()}">
                                    <button th:if="${a.username != username}">Send Message</button><br/>
                                    <!--                                    <button th:if="${a.username == username}">Delete</button><br/>                                    -->
                                    <button th:if="${a.username == username}">SystemCall</button><br/>                                    

                                </td>
                            </tr>            
                        </tbody>
                    </table>
                    <!-- Normal -->
                    <h4 style="margin-top: 80px">Normal</h4>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Photo</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Contract</th>
                                <th>Role</th>
                                <th>Introduction</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="n : ${normal}">
                                <td style="width: 100px;">
                                    <img th:if="${n.photo != 'profile.png'}" alt="photo" src="" th:src="@{/img/profile_icon.jpg}" style="width: 100px"/>
                                    <img th:if="${n.photo == 'profile.png'}" alt="photo" src="" th:src="@{${n.photoURI()}}" style="width: 100px"/>
                                </td>
                                <td>
                                    <span th:if="${n.nickname != null}">
                                        <span th:text="${n.nickname}"></span><br/>
                                        <span th:text="'('+${n.username}+')'"></span>
                                    </span>
                                    <span th:if="${n.nickname == null}" th:text="${n.username}">Username</span>
                                </td>
                                <td>
                                    <span th:text="${n.gender}">Gender</span>
                                </td>
                                <td>
                                    <span th:text="${n.phone}">Contract</span>
                                </td>
                                <td>
                                    <span th:text="${n.getRole()}">Position</span>
                                </td>
                                <td>
                                    <p th:text="${n.introduction}">Introduction</p>
                                </td>
                                <td th:with="username=${#authentication.getName()}">

                                    <button th:if="${n.username != username}">Send Message</button><br/>                                
                                    <form th:action="@{/users/expiration}" method="POST"
                                          th:if="${n.username == username || #authorization.expression('hasRole(''manager'')')}">                                        
                                        <input type="hidden" name="username" th:value="${n.username}"/>
                                        <button type="button" class="user-expire-btn">Delete</button>
                                    </form>                         
                                </td>
                            </tr>            
                        </tbody>
                    </table>

                </div>
                <!-- online user listener -->
                <div style="margin-top: 50px; margin-bottom: 50px;">
                    <h4>Logged in user</h4>
                    <div>
                        <a th:href="@{/users/sessionRegistry}" class="btn btn-primary">
                            sessionRegistry                            
                        </a>
                        <a th:href="@{/users/loggedUsers}" class="btn btn-primary">
                            loggedUsers
                        </a>
                    </div>
                </div>
            </div> <!-- End of main content -->

        </div> <!-- End of application-main -->

        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>        
        <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
        <script th:src="@{/js/navbar-toggle.js}"></script>        
        <!-- alert function -->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script th:inline="javascript">
            function isOffline(target) {
                let expirable = true;
                $.ajax({
                    type: 'GET',
                    async: false, //!important
                    url: '/users/loggedUsers',
                    success: function (data) {
                        $.each(data, function (index, onliner) {
                            if (target === onliner) {
                                expirable = false;
                            }
                        });
                    },
                    error: function () {
                        alert('error calling api');
                    }
                });
                return expirable;
            }

            $('.user-expire-btn').each(function () {
                $(this).on('click', function (event) {
                    let isManagerString = "[[${#authorization.expression('hasRole(''manager'')')}]]";
                    let isManager = (isManagerString === 'true');
                    let target = $(this).prev('input').val();
                    if (isManager) {
                        if (!isOffline(target)) {
                            alert('User is still online');
                            return;
                        }
                    }
                    event.preventDefault();
                    let form = $(this).parent('form');
                    swal({
                        title: "Are you sure?",
                        text: "This action can not be restored!",
                        icon: "warning",
                        buttons: ["Cancel", "Remove"], //[cancel, ok]
                        dangerMode: true
                    }).then((removeConfirm) => {
                        if (removeConfirm) {
                            swal("Deletion Success!", "account has now been expired!", {
                                buttons: false,
                                timer: 3000
                            }).then(() => {
                                form.submit();
                            });
                        }
                    });
                });
            });
        </script>
    </body>
</html>
